<section id="customer-info">
  <%= @customer.name %><br>
  <br><ul>
  <% @customer.items.each do |item| %>
    <li>Name: <%= item.name %>, Price: <%= item.price %>, Supermarket: <%= item.supermarket_name %></li><br>
  <% end %>
</section>

<section id="add-items">
  Add Items by ID
  <%= form_with url: "/customer_items/new", method: :post, local: true do |form|%>
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
    <%= form.hidden_field :customer_id, value: @customer.id %>
    <%= form.submit "Add" %>
  <% end %>
</section>